
@{
    ViewData["Title"] = "About";
}

<section class="wrapper">
    <h1>About... My CV</h1>
    <article class="card">
        <h3>Kronofogden, Växjö 2018-08-27-2018-12-28</h3>
        <p>
            Ambulerande tjänsteman. Handlägger och registrerar ärenden, kundkontakter och andra
            myndighetskontakter via telefon och e-post. Hantering av inkommande post och returer.
        </p>
    </article>
    <article class="card">
        <h3>Arbetsförmedlingen, Växjö 2016-08-15-2018-04-30</h3>
        <p>
            Assistent. Varierande arbetsuppgifter som, posthantering, registrering och registervård i
            AIS. ringa upp kund inför olika uppdrag, assistera vid informations möten samt uppdatera
            säkerhetspärmarna. Vägleder kunder på direkt service med Bank-ID och ett stöd i verksamheten
            och vara behjälplig för alla kollegor och kunder.
        </p>
    </article>
    <article class="card">
        <h3>Tjänsteman(20170301) </h3>
        <p>
            Ett EU-projekt, UngKOMP som drivs av arbetsförmedlingen.
            Kontakt med arbetsgivare och sökande samt administrera i AIS, MS office. Genomför
            uppföljningar, inskrivnings samtal och studiebesök. Deltar i friskvården i samarbete med
            idrottskliniken och Växjö kommun. Ett stort stöd i verksamheten.
        </p>
    </article>
    <article class="card">
        <h3>Svenska Migrationscenter, Växjö 2014-2016.</h3>
        <p>
            Registrerar personer som har utvandrat från Sverige från 1800- talet och framåt. Från
            riksarkivet, svar digital som har många kyrkoförsamligars kyrkoböcker skannade digitalt.
            Registrerar in i Emiweb. Skannar in negativ glasplåtar från tidigt 1900-tal. Lokalvård och
            behjälplig med IT-miljön.
        </p>
    </article>
    <article class="card">
        <h3>Mackens företagscenter, Växjö, 2012.</h3>
        <p>
            Projektledare (50%). Administrationsarbete, marknadsföring och koordinering av utbildningspraktik.
            Informatör på mässor och föreläsare. Genomföra nätverksträffar i form av
            frukostmöten med praktikdeltagare. Startade ekonomiskförening “Hantverkarnas hus”.
        </p>
    </article>
    <article class="card">
        <h3>Arbete och Välfärd, Växjö kommun 2012.</h3>
        <p>
            Undervisade i kommunikativ svenska för en invandrargrupp (50%).
        </p>
    </article>
    <article class="card">
        <h3>John Bauer Gymnasiet, Växjö 2011.</h3>
        <p>
            John Bauer Gymnasiet, IT-Lärare Undervisa i datorkunskap och teknisk kommunikation,
            projektledare, projektarbete för åk 3, mentor åk 1 och betygsättare.
        </p>
    </article>
    <article class="card">
        <h3>Lokaltidningen Alvesta, Annonsproducent, 2010.</h3>
        <p>
            Producera och redigera annonser. Kundbokningar och varit ute hos kunder, vid försäljning.
        </p>
    </article>
    <article class="card">
        <h3>IST, Växjö Testare (Timanställning), 2009.</h3>
        <p>
            Testning av applikation, Extens, i Sybase SQL Anywhere 11. Både för Norge, Sverige och
            Danmark.
        </p>
    </article>
    <article class="card">
        <h3>IST, Växjö, Supporttekniker, 2000- 2008.</h3>
        <p>
            Kundsupport via telefon, mail och webb. Utbildningar internt och externt.
            Skriva utbildningsmaterial och teknisk dokumentation. Test av applikationerna Extens och
            Dexter i Sybase SQL Anywhere och Oracle miljö och databasvård. Skyddsombud arbete som
            dokumentera och skriva systematiskt arbetsmiljöarbete.
        </p>
    </article>
    <article class="card">
        <h3>Växjö kommun, 1999.</h3>
        <p>
            It-tekniker Växjö kommun: (Skolnätet), utbildare. Konfigurerade/installerade datorer,
            administration på 2000 server. Utbildare i Officepaketet och internet för ITIS, ett projekt i
            Växjö kommun. (För lärare och rektorer)
        </p>

    </article>
</section>


