
@{
    ViewData["Title"] = "Contact";
}


<h1>Contact</h1>
<div class="wrapper">
    <section class="card">
        <p>Name: Åsa Jonsson</p>
        <p>Phone: 012-345 6789 </p>
    </section>

</div>


